{% extends 'base.html' %}
{% block nav_item_note %}active{% endblock nav_item_note %}
{% block content %}

<div class="header mt-4">
    <h1>Hello this is notes page !!</h1><br>
    {% for nt in note %}
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <div class="card-title">
                <h5>{{ nt.title.capitalize }}</h5><br>
                <p>{{ nt.note_text.capitalize }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
